<!DOCTYPE html>
<html>
  <head>
    <title>U1Spr1ntD3s1gn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  </head>
  <header>
    <%= render "layouts/navbar" %>
  </header>
  <body>
    <%= yield %>
  </body>



</html>
