<!DOCTYPE html>
<html>
  <head>
    <title>U1Spr1ntD3s1gn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render "layouts/navbar" %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
